REDIS_NAME=redis_server
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6379
REDIS_HOST_BIND_IP=127.0.0.1

REDIS_USERNAME=user
REDIS_PASSWORD="changeme" # Do not use the ">" character at the beginning of the password.
REDIS_PASSWORD_TYPE=">"   # >(plain) or #(hash)

REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY="allkeys-lru"

REDIS_HASH_PASSWORD_VERIFY_PONG=true
REDIS_OPEN_CLI=true