# Внешний порт
REDIS_EXTERNAL_PORT=6379

# Логин и Пароль для подключения
REDIS_USERNAME=redis_user

# Не используйте ">" символ в пароле
REDIS_PASSWORD=pass123

# Порт внутри докера
REDIS_PORT=6379

# Если не ставить будет default
DOCKER_SHARED_NETWORK=redis_dev_network
